<div class="card">
  <div class="card-header">
      <h4>Lista de Empleados</h4>
  </div>
  <div class="card-body">
      <table class="table table-striped table-hover">
          <thead class="thead-dark">
              <tr>
                  <th>Nombre</th>
                  <th>Correo</th>
                  <th>Teléfono</th>
                  <th>Fecha Nacimiento</th>
                  <th>Sexo</th>
                  <th>Eliminar</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let empleado of empleados; let i = index">
                  <td>{{ empleado.nombre }}</td>
                  <td>{{ empleado.correo }}</td>
                  <td>{{ empleado.telefono }}</td>
                  <td>{{ empleado.fechaNacimiento }}</td>
                  <td>{{ empleado.sexo }}</td>
                  <td><button class="btn btn-danger btn-sm" (click)="eliminarEmpleado(i)">Eliminar</button></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>